// Typography and layout helpers

// Tachyon default media queries
@import "tachyons/src/_media-queries.css";

/*
* -----------
* TYPOGRAPHY
* -----------
*/

// Fonts
@import "../helpers/fonts.scss";

// Docs: http://tachyons.io/docs/typography/scale
@import "tachyons/src/_type-scale.css";

// Docs: http://tachyons.io/docs/typography/measure
@import "tachyons/src/_typography.css";

// Docs: http://tachyons.io/docs/typography/line-height
@import "tachyons/src/_line-height.css";

// Docs: http://tachyons.io/docs/typography/tracking
@import "tachyons/src/_letter-spacing.css";

// Docs: http://tachyons.io/docs/typography/font-weight
@import "tachyons/src/_font-weight.css";

// Docs: http://tachyons.io/docs/typography/font-style
@import "tachyons/src/_font-style.css";

// Docs: http://tachyons.io/docs/typography/vertical-align
@import "tachyons/src/_vertical-align.css";

// Docs: http://tachyons.io/docs/typography/text-align
@import "tachyons/src/_text-align.css";

// Docs: http://tachyons.io/docs/typography/text-transform
@import "tachyons/src/_text-transform.css";

// Docs: http://tachyons.io/docs/typography/text-decoration
@import "tachyons/src/_text-decoration.css";

// Docs: http://tachyons.io/docs/typography/white-space
@import "tachyons/src/_white-space.css";
@import "tachyons/src/_code.css";

/*
* -----------
* LAYOUT
* -----------
*/

// Docs: http://tachyons.io/docs/layout/box-sizing
@import "tachyons/src/_box-sizing.css";

// Docs: http://tachyons.io/docs/layout/spacing
@import "tachyons/src/_spacing.css";

// Docs: https://github.com/tachyons-css/tachyons-negative-margins
@import "tachyons/src/_negative-margins.css";

// Docs: http://tachyons.io/docs/layout/floats
@import "tachyons/src/_floats.css";

// Docs: http://tachyons.io/docs/layout/clearfix
@import "tachyons/src/_clears.css";

// Docs: http://tachyons.io/docs/layout/display
@import "tachyons/src/_display.css";

// Docs: http://tachyons.io/docs/layout/widths
@import "tachyons/src/_widths.css";
@import "../helpers/widths.scss";

// Docs: http://tachyons.io/docs/layout/max-widths
@import "tachyons/src/_max-widths.css";

// Docs: http://tachyons.io/docs/layout/heights
@import "tachyons/src/_heights.css";

// Docs: http://tachyons.io/docs/layout/position
@import "tachyons/src/_position.css";
@import "tachyons/src/_coordinates.css";

// Docs: https://github.com/tachyons-css/tachyons-overflow
@import "tachyons/src/_overflow.css";

// Docs: https://github.com/tachyons-css/tachyons-flexbox
@import "tachyons/src/_flexbox.css";
@import "../helpers/flexbox.scss";

// Docs: https://github.com/tachyons-css/tachyons-aspect-ratios
@import "tachyons/src/_aspect-ratios.css";

// Docs: https://github.com/tachyons-css/tachyons-word-break
@import "tachyons/src/_word-break.css";

// Docs: https://github.com/tachyons-css/tachyons-utilities
@import "tachyons/src/_utilities.css";

// Box shadow
@import "../helpers/box-shadow.scss";

/*
* -----------
* THEMING
* -----------
*/

// Docs: http://tachyons.io/docs/themes/background-size
@import "tachyons/src/_background-size.css";

// Docs: https://github.com/tachyons-css/tachyons-background-position
@import "tachyons/src/_background-position.css";

// Docs: http://tachyons.io/docs/themes/borders
@import "tachyons/src/_borders.css";
@import "tachyons/src/_border-style.css";
@import "tachyons/src/_border-widths.css";
@import "../helpers/borders.scss";

// Docs: http://tachyons.io/docs/themes/border-radius
@import "tachyons/src/_border-radius.css";

// Docs: http://tachyons.io/docs/themes/hovers
@import "tachyons/src/_hovers.css";

// Docs: https://github.com/tachyons-css/tachyons-outlines
@import "tachyons/src/_outlines.css";

// Docs: https://github.com/tachyons-css/tachyons-rotations
@import "tachyons/src/_rotations.css";

// Docs: http://tachyons.io/docs/themes/opacity
@import "tachyons/src/_opacity.css";

// Docs: https://github.com/tachyons-css/tachyons-visibility
@import "tachyons/src/_visibility.css";

// Docs: https://github.com/tachyons-css/tachyons-z-index
@import "tachyons/src/_z-index.css";

// Tachyons config override
:root {
  --spacing-none: 0;
  --spacing-extra-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;
}
