:root {
  --shadow-0: none;
  --shadow-1: 0 1px 3px color(var(--black) a(12%)),
    0 1px 2px color(var(--black) a(24%));
  --shadow-2: 0 3px 6px color(var(--black) a(16%)),
    0 3px 6px color(var(--black) a(23%));
  --shadow-3: 0 10px 20px color(var(--black) a(19%)),
    0 6px 6px color(var(--black) a(23%));
  --shadow-4: 0 14px 28px color(var(--black) a(25%)),
    0 10px 10px color(var(--black) a(22%));
  --shadow-5: 0 19px 38px color(var(--black) a(30%)),
    0 12px 12px color(var(--black) a(22%));
}

@define-mixin shadow $size {
  .shadow-$(size) {
    position: relative;

    &::after {
      content: '';
      box-shadow: var(--shadow-$size);
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}

@define-mixin shadow-hover $size {
  .shadow-hover-$(size) {
    position: relative;

    &::after {
      content: '';
      box-shadow: var(--shadow-$size);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover::after {
      opacity: 1;
      box-shadow: var(--shadow-$size);
    }
  }
}

@mixin shadow-hover 0;
@mixin shadow-hover 1;
@mixin shadow-hover 2;
@mixin shadow-hover 3;
@mixin shadow-hover 4;
@mixin shadow-hover 5;

@mixin shadow 0;
@mixin shadow 1;
@mixin shadow 2;
@mixin shadow 3;
@mixin shadow 4;
@mixin shadow 5;
