// Flex-Grow
.grow-0 {
  flex-grow: 0;
}
.grow-1 {
  flex-grow: 1;
}
.grow-2 {
  flex-grow: 2;
}
.grow-3 {
  flex-grow: 3;
}
.grow-4 {
  flex-grow: 4;
}
.grow-5 {
  flex-grow: 5;
}
.grow-6 {
  flex-grow: 6;
}
.grow-7 {
  flex-grow: 7;
}
.grow-8 {
  flex-grow: 8;
}
.grow-9 {
  flex-grow: 9;
}

// Flex-Shrink
.shrink-0 {
  flex-shrink: 0;
}
.shrink-1 {
  flex-shrink: 1;
}
.shrink-2 {
  flex-shrink: 2;
}
.shrink-3 {
  flex-shrink: 3;
}
.shrink-4 {
  flex-shrink: 4;
}
.shrink-5 {
  flex-shrink: 5;
}
.shrink-6 {
  flex-shrink: 6;
}
.shrink-7 {
  flex-shrink: 7;
}
.shrink-8 {
  flex-shrink: 8;
}
.shrink-9 {
  flex-shrink: 9;
}

.flex-distribute {
  flex: 1 0;
}

// Flex-Basis
.basis-10 {
  flex-basis: 10%;
}
.basis-20 {
  flex-basis: 20%;
}
.basis-25 {
  flex-basis: 25%;
}
.basis-30 {
  flex-basis: 30%;
}
.basis-33 {
  flex-basis: 33%;
}
.basis-34 {
  flex-basis: 34%;
}
.basis-40 {
  flex-basis: 40%;
}
.basis-50 {
  flex-basis: 50%;
}
.basis-60 {
  flex-basis: 60%;
}
.basis-70 {
  flex-basis: 70%;
}
.basis-75 {
  flex-basis: 75%;
}
.basis-80 {
  flex-basis: 80%;
}
.basis-90 {
  flex-basis: 90%;
}
.basis-100 {
  flex-basis: 100%;
}

.basis-third {
  flex-basis: calc(100% / 3);
}
.basis-two-thirds {
  flex-basis: calc(100% / 1.5);
}
