.sans-serif {
  font-family: var(--font-family-sans-serif);
}

.serif {
  font-family: var(--font-family-serif);
}

.system-sans-serif {
  font-family: sans-serif;
}

.system-serif {
  font-family: serif;
}

code,
.code,
.monospace {
  font-family: var(--font-family-monospace);
}

.helvetica {
  font-family: 'helvetica neue', helvetica, sans-serif;
}

.avenir {
  font-family: 'avenir next', avenir, sans-serif;
}

.arial {
  font-family: arial, sans-serif;
}
