.Menu__flex-right {
  margin-left: auto;
}

.Menu__item {
  padding-right: 15px;
}

.Menu__color--dark {
  color: rgba(255, 255, 255, 0.5);
}

.Menu__dark--05 {
  background-color: rgba(0, 0, 0, 0.05);
}

.Menu__dark--10 {
  background-color: rgba(0, 0, 0, 0.1);
}

.Menu__dark--20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.Menu__light--01 {
  background-color: rgba(255, 255, 255, 0.03);
}

.Menu__light--05 {
  background-color: rgba(255, 255, 255, 0.05);
}

.Menu {
  ul {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
  }

  ul .Menu__Header {
    padding-left: 15px;
  }

  ul a {
    padding-left: 15px;
    height: 40px;
  }

  ul ul a,
  ul ul .Menu__Header {
    padding-left: 50px;
    font-size: 0.95em;
  }

  ul ul ul a,
  ul ul ul .Menu__Header {
    padding-left: 65px;
    font-size: 0.9em;
  }

  ul ul ul ul a,
  ul ul ul ul .Menu__Header {
    padding-left: 80px;
    font-size: 0.85em;
  }

  ul ul ul ul ul a,
  ul ul ul ul ul .Menu__Header {
    padding-left: 95px;
    font-size: 0.8em;
  }
}
