:root {
  --white: #fff;
  --black: #000;
  --red: #f35958;
  --pink: #e91e63;
  --purple: #9c27b0;
  --deep-purple: #6b54bd;
  --indigo: #3f51b5;
  --blue: #2196f3;
  --light-blue: #03a9f4;
  --cyan: #00bcd4;
  --teal: #009688;
  --green: #4caf50;
  --light-green: #8bc34a;
  --lime: #cddc39;
  --yellow: #ffeb3b;
  --amber: #f7cf5f;
  --orange: #ff9800;
  --deep-orange: #ff5722;
  --brown: #795548;
  --grey: #9e9e9e;
  --slate: #607d8b;

  // White Palette
  --white-05: color(var(--white) shade(2%));
  --white-10: color(var(--white) shade(5%));
  --white-20: color(var(--white) shade(10%));
  --white-30: color(var(--white) shade(15%));
  --white-40: color(var(--white) shade(20%));
  --white-50: color(var(--white) shade(25%));
  --white-60: color(var(--white) shade(30%));
  --white-70: color(var(--white) shade(35%));
  --white-80: color(var(--white) shade(40%));
  --white-90: color(var(--white) shade(45%));

  // Black palette
  --black-05: color(var(--black) tint(30%));
  --black-10: color(var(--black) tint(27%));
  --black-20: color(var(--black) tint(24%));
  --black-30: color(var(--black) tint(21%));
  --black-40: color(var(--black) tint(18%));
  --black-50: color(var(--black) tint(15%));
  --black-60: color(var(--black) tint(12%));
  --black-70: color(var(--black) tint(9%));
  --black-80: color(var(--black) tint(6%));
  --black-90: color(var(--black) tint(3%));

  // Color palette
  @each $color in var(--list-of-colors) {
    $contrast: color(var(--$(color)) shade(65%));

    --$(color)-05: color(var(--$(color)) tint(88%));
    --$(color)-10: color(var(--$(color)) tint(70%));
    --$(color)-20: color(var(--$(color)) tint(50%));
    --$(color)-30: color(var(--$(color)) tint(30%));
    --$(color)-40: color(var(--$(color)) tint(15%));
    --$(color)-50: var(--$(color));
    --$(color)-60: color(var(--$(color)) blend($contrast 13%));
    --$(color)-70: color(var(--$(color)) blend($contrast 30%));
    --$(color)-80: color(var(--$(color)) blend($contrast 46%));
    --$(color)-90: color(var(--$(color)) blend($contrast 75%));
  }

  // List of all colors
  --list-of-colors: red, pink, purple, deep-purple, indigo, blue, light-blue,
    cyan, teal, green, light-green, lime, yellow, amber, orange, deep-orange,
    brown, grey, slate;
}
