:root {
  // Background color for body
  --body-bg: var(--white-20);

  // Default body text color
  --text-color: var(--black-50);

  // Default link color
  --link-color: var(--blue-60);

  // Default link hover color
  --link-hover-color: color(var(--link-color) shade(15%));

  // Default link decoration on hover
  --link-decoration: underline;
  --link-hover-decoration: none;
}
