//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'avenir next',
    avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;

  --font-family-serif: georgia, times, serif;
  --font-family-monospace: Consolas, monaco, monospace;

  //* Base font size
  --font-size-base: 0.9rem;

  //* Heading sizes
  --font-size-h1: 3rem;
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.25rem;
  --font-size-h5: 1rem;
  --font-size-h6: .875rem;

  //* Basic line height for text
  --line-height: 1.15;

  //* Unit-less `line-height` for use in components like buttons.
  --line-height-base: calc(20 / 13);

  // //** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
  /* prettier-ignore */
  --line-height-computed: calc((var(--font-size-base) * var(--line-height-base)));
}

// //** By default, this inherits from the `<body>`.
// @headings-font-weight:    							400;
// @headings-line-height:    							@line-height-base;
