// Generates base color classes without shade number modifiers
@define-mixin base {
  @each $color in black, white, var(--list-of-colors) {
    $rgb: var(--$(color));

    @mixin-content;
  }
}

// Generates color classes with shade number modifiers
@define-mixin sizes {
  @each $size in 05, 10, 20, 30, 40, 50, 60, 70, 80, 90 {
    $rgb: var(--$(color)-$(size));

    @mixin-content;
  }
}

// Backgrounds
@mixin base {
  .bg-$(color) {
    background-color: $rgb;
    color: contrast($rgb);
  }

  // Background hover
  .hover-bg-$(color):hover {
    background-color: $rgb;
  }

  @mixin sizes {
    .bg-$(color)-$(size) {
      background-color: $rgb;
      color: contrast($rgb);
    }

    // Background hover
    .hover-bg-$(color)-$(size):hover {
      background-color: $rgb;
    }
  }
}

// Text colors
@mixin base {
  .$(color) {
    color: $rgb;
  }

  // Text hover
  .hover-$(color):hover {
    color: $rgb;
  }

  @mixin sizes {
    .$(color)-$(size) {
      color: $rgb;
    }

    // Text hover
    .hover-$(color)-$(size):hover {
      color: $rgb;
    }
  }
}

// Borders
@mixin base {
  .b--$(color) {
    border-color: $rgb;
  }
  .b--t-$(color) {
    border-top-color: $rgb;
  }
  .b--r-$(color) {
    border-right-color: $rgb;
  }
  .b--b-$(color) {
    border-bottom-color: $rgb;
  }
  .b--l-$(color) {
    border-left-color: $rgb;
  }

  @mixin sizes {
    .b--$(color)-$(size) {
      border-color: $rgb;
    }
    .b--t-$(color)-$(size) {
      border-top-color: $rgb;
    }
    .b--r-$(color)-$(size) {
      border-right-color: $rgb;
    }
    .b--b-$(color)-$(size) {
      border-bottom-color: $rgb;
    }
    .b--l-$(color)-$(size) {
      border-left-color: $rgb;
    }
  }
}

.b--transparent {
  border-color: transparent;
}

.b--inherit {
  border-color: inherit;
}
