@import "minireset.css";

html {
  font-size: var(--font-size-base);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Default typography
body {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  color: var(--text-color);
  background: var(--body-bg);
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
}

// Default links
a {
  color: var(--link-color);
  text-decoration: var(--link-decoration);
  transition: all 0.15s ease-in;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    transition: all 0.15s ease-in;
  }

  &:focus {
    // outline: 1px dotted currentColor;
  }

  &:hover,
  &:focus {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-decoration);
  }
}

// Responsive image by default
img {
  vertical-align: middle;
  max-width: 100%;
}

// Pointer on buttons by default
[role="button"]:hover {
  cursor: pointer;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}
